/* Reset default browser styles */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-content {
    text-align: center;
    margin-top: 50px;
}

.about-content img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.about-content h3 {
  font-size: 2rem;
  margin-top: 10px;
}
.social-media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}

#highlighted-projects {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.project-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 20px;
}

.project-card p {
    color: #666;
}

.project-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
}

.project-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
